In [ ]:
'''1.explain the key features of Python that makes it a popular programming language to learn.
--> Python is an easy programming language to learn. It is considered relatively easier than other programming languages like c++ and java script. It reads line by line and this helps in testing as it provides syntax which we can debug. It can work in several platforms like linux macos and windows too. It has very large libraries which is very easily accessible.'''
'''2.Describe the role of predefined keywords in Python and provide examples of how they are used in a
program.
--> Predefined keywords are special words with a specific assigned function. For example: print, type.'''
'''these two keywords have a pretty much self explanatory role which is to print whatever encloses the "" and type tells us about the type of variable entered within the bracket.'''

print("Hello world")
a = 10
type(a)

Hello world

int

In [ ]:
'''3.Compare and contrast mutable and immutable objects in Python with examples.'''
'''--> Mutable objects are those objects whose value can be changed after they are assigned. Immutable objects are those which cannot be changed after it is assigned.an example of mutable objeact is list and an example of immutable object is string.'''

list_cont=[1,2,"Aryan"]
list_cont[0]

1

In [ ]:
list_cont[0] = 5
list_cont[0]

5

In [24]:
'''4.Discuss the different types of operators in Python and provide examples of how they are used.'''
'''-->a)Arithmetic operators : '+','-','*','/','%'. Used for mathematical operations.
b)comparison operators : fpr comparison of differemt values.'==','!=' are some examples.
c)Logical operators : #and & #or
d) Assignment operators which assign value like '='. For eg: a = 5
e) Membership operator
f) Identity operator
g) Bitwise operator
h) Negation operator
i) Bitwise operator
j) Shift operator'''

"-->a)Arithmetic operators : '+','-','*','/','%'. Used for mathematical operations.\nb)comparison operators : fpr comparison of differemt values.'==','!=' are some examples.\nc)Logical operators : #and & #or\nd) Assignment operators which assign value like '='. For eg: a = 5\ne) Membership operator\nf) Identity operator\ng) Bitwise operator\nh) Negation operator\ni) Bitwise operator \nj) Shift operator"

In [25]:
'''5.Explain the concept of type casting in Python with examples.'''
'''-->type casting is a process in which we change the type of the value.'''
a = 10
type(a)

int

In [26]:
str(a)

'10'

In [27]:
float(a)

10.0

In [28]:
int(True)

1

In [30]:
'''6.How do conditional statements work in Python? Illustrate with examples.'''
'''--> if a statement is written with a condition placed it is a conditional statement'''

a = 10
b = 5
if b>=10:
  print("b is greater than 10")
else:
  print("b is smaller than a")

b is smaller than a

In [31]:
'''7.Describe the different types of loops in Python and their use cases with examples.'''
'''-->for loop and while loops are the two types of loops we use in python.'''

'-->for loop and while loops are the two types of loops we use in python.'

In [32]:
n = 23
i  = 1
while i < n:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [33]:
n = 23
i  = 1
while i < n:
  print(i)
  i=i+1
  if i == 16:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [37]:
for i in 'Aryan':
  print(i)

A
r
y
a
n

In [38]:
for i in 'Aryan':
  print(i,end=" ")

A r y a n